html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.map-controls--location {
  padding: 8px;
  display: flex;
  flex-direction: column;

  width: 60%;
}

.g-map {
  height: 100%;
  flex-grow: 1;
}